* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 font-family: Arial, sans-serif;
 font-size: 16px;
 line-height: 1.5;
 color: #333;
 background-color: #f5f5f5;
}

.title {
 text-align: center;
 font-size: 2rem;
 margin-top: 20px;
 color: #28527a;
 font-weight: bold;
}

section {
 max-width: 1200px;
 width: 100%;
 margin: 0 auto;
}

.grid-container {
 display: grid;
 grid-template-columns: repeat(10, 1fr);
 gap: 10px;
 padding: 1.5rem;
}

.grid-item {
 border: 1px solid #d3d3d3;
 border-radius: 8px;
 background-color: #dedede;
 padding: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 80px;
}

// Media Queries for Desktop
@media (max-width: 920px) {
 .grid-container {
   grid-template-columns: repeat(8, 1fr);
 }
 .grid-item {
   min-height: 100px;
   color: #ffbc03;
   background-color: #0000b3;
 }
}

// Media Queries for Tablet
@media (max-width: 756px) {
 .grid-container {
   grid-template-columns: repeat(6, 1fr);
 }
 .grid-item {
   min-height: 120px;
   color: #ff0000;
   background-color: #2bff00;
 }
}

// media Queries for Mobile
@media (max-width: 460px) {
 .grid-container {
   grid-template-columns: repeat(1, 1fr);
 }
 .grid-item {
   min-height: 120px;
   color: #00ff00;
   background-color: #ff0000;
 }
}
