*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.page {
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.header {
  background: #a2ff56;
  padding: 30px 0px;
  text-align: center;
  margin: 0;
}

.header h1 {
  margin: 0;
  font-weight: bold;
}

.content {
  width: 40%;
  margin: 30px auto;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  font-weight: bold;
  background: hsl(184, 98%, 48%);
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.add-btn:hover{
  background: hsl(0, 0%, 75%);
}
.add-btn:active{
  background: hsl(0, 0%, 65%);
}

.student-card {
  background: #e0e0e0;
  padding: 30px 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;
}

.student-card h3 {
  margin: 0 0 5px 0;
}

.student-card p {
  margin: 3px 0;
}

.delete-btn {
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: hsl(0, 100%, 50%);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-btn:hover{
  background: hsl(0, 100%, 45%);
}
.delete-btn:active{
  background: hsl(0, 100%, 40%);
}
